<footer class="footer">
    <div>
     
    </div>
    <div><a href="/brands">Nos marques</a> - <a href="/search">Recherche</a></div>
    <div>Servi avec &hearts; par Shop Sandbox</div>
  </footer>
</div>

<script src="/js/script.js"></script>
</body>
</html>